* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}
:root {
    --primario: #f6f5dd;
    --secundario: #f3b0c3;
    --terciario: #cbaacb;
    --volver: #55cbcd;
    --seleccion: #fee1e8;
    --cancel: #ff968a;
}

main {
    display: flex;
}
body {
    background-color: var(--primario)
}

header {
    width: 100%;
    background-color: #43bda0;
}

.logo {
    position: absolute;
    top: 20%;
}
.logo img {
    max-width: 150px;
    min-width: 80px;
}


h1 {
    margin: 0;
    background-color: #43bda0;
    color: white;
    text-align: center;
}

nav {
    position: relative;
    width: 30%;
    min-height: 120vh;
    background-color: var(--seleccion);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: banner;
}
nav h2{
    position: absolute;
    top: 5%;
    text-align: center;
    font-weight: bold;
    color: #7c7c7c;
}
nav h3 {
    position: absolute;
    top: 35%;
    text-align: center;
    color: var(--secundario);
    font-size:  2rem;
    padding: 2px;
    border: 4px solid white;
    border-radius: 15px;
    background-color: white;
    font-weight: bold;

 }
 nav p {
    position: absolute;
    top: 45%;
    text-align: justify;
    margin: 1rem;
    font-weight: bold;
    color: #7a7a7a;
 }

 nav span {
     position: absolute;
     top: 40%;
     font-size: 1.4rem;
     border-bottom: 3px solid #43bda0;
 }

 .contenedorTapa {
    transition: all 1s ease-in;
}

#confirmarTapa {
    position: relative;
    grid-area: btn;
    background-color: var(--volver);
    border: none;

}
div p {
    text-align: center;
}

.seleccionTapas {
    display: none; 
}

.deshabilitarContenido {
    transform:scale(.95);
    opacity:0.5
    
}

.contenedorElemento {
    width: auto;
}

#seccionTapas, #seccionInterior, #seccionEncuadernacion, #seccionCarrito {
    min-height: 100vh;
    width: 100%;
}


input.btn-seleccion {

    width: 100px;
    height: 30px;
    color: white;
    background-color: hsl(347, 71%, 74%);
    border-radius: 15px;
    border: none;
    margin: auto;
}
input.btnCancel {
    border-style: none;
    background-color: #e4234d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 900;
    color: white;
}

.card {
    border-radius: 30px;
}
.card-img-top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.contenedorElementoInt {
    position: relative;
}

.contenedorElementoInt label {
    font-size: 1.4rem;
    position: absolute;
    z-index: 99;
    right: 10px;
    top: 10px;
    color: var(--terciario);
    
}
