* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}
:root {
    --paso1: #55cbcd;
    --paso2: #aa98f2;
    --paso3: #cf91d0;
    --rosaLogo: #f3b0c3;
    --fondoMapa: #f9b7c4;
    --amarillo: #f6f5dd;
}

main {
    display: flex;
}
body {
    background-color: var(--amarillo)
}

header {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--rosaLogo);
    top:0%;
    right: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;    
    z-index: 99;
}
header button{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    
}
header button i {
    color: #43bda0;
}
header span {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    bottom: 0;
    right: 0;
}



/* -------------------------------------Estilos Nav Lateral---------------------------------------------------- */

nav {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.paso1 {
    background-color: var(--paso1);
}
.paso2 {
    background-color: var(--paso2);
}

.paso3 {
    background-color: var(--paso3);
}

.pasoCarrito {
    background-color: #43bda0;
}

.pasoFormulario {
    background-color: var(--fondoMapa);
}
.pasoFormulario h2 {
    font-size: 1.8rem;
    text-align: center;
}
.pasoFormulario p {
    font-size: 1.5rem;
}

#nuevoCuaderno {
    background-color: var(--fondoMapa);
    border-radius: 10px;
    font-weight: 500;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#terminarCompra {
    background-color: var(--paso1);
    border-radius: 10px;
    font-weight: 500;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.nav__cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__btn img {
    width: 6rem;
    height: 6rem;
}
.tittle h2 {
    font-size: 3rem;
    color: white;
}

.nav__btn, .tittle {
    margin: 3rem 1rem;
}

.nav__parrafo {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 1rem;
}

.nav__arrow, .nav__logo {
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
}
.nav__arrow img {
    width: 15rem;
}
.nav__logo img{
    width: 10rem;
}
.nav__logo {
    flex-direction: column;
    align-items: center;
}
.nav__logo h1 {
    font-size: 1.8rem;
    margin: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.nav__span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 2rem 2rem 2rem;
}

.nav__span span{
    text-align: center;
    color: white;
}
/* ----------------------------------Estilos Carrito Float ---------------------------------------------*/
#carrito {
    position: relative;
}

#carrito span {
    
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    z-index: 99;
    top: 0;
    right: 0;
    

}

#armadoEnProgreso {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--fondoMapa);
    border-style: none;
}
/* ------------------------------------------Estilos Contenido APP Main------------------------------------------ */
 .contenedorTapa {
    transition: all 1s ease-in;
}

.errorTapas, .errorEnc, .errorInterior, .errorCarrito {
    color: red;
    text-align: center;
}

#confirmarTapa {
    position: relative;
    grid-area: btn;
    background-color: var(#43bda0);
    border: none;

}
div p {
    text-align: center;
}



.deshabilitarContenido {
    transform:scale(.95);
    opacity:0.5
    
}

.contenedorElemento {
    width: auto;
}

#seccionTapas, #seccionInterior, #seccionEncuadernacion, #seccionCarrito {
    min-height: 100vh;
    width: 100%;
}

#seccionCarrito {
    padding: 1rem;
}
input.btn-seleccion {

    width: 100px;
    height: 30px;
    color: white;
    background-color: hsl(347, 71%, 74%);
    border-radius: 15px;
    border: none;
    margin: auto;
}
input.btnCancel {
    border-style: none;
    background-color: #e4234d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 900;
    color: white;
}

.card {
    border-radius: 30px;
}
.card-img-top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}

.contenedorElementoInt, .contenedorElementoEnc {
    position: relative;
}

.contenedorElementoInt label, .contenedorElementoEnc label {
    font-size: 1.4rem;
    position: absolute;
    z-index: 99;
    right: 10px;
    top: 10px;
    color: var(--terciario);
    
}

/*----------------------------------------------------Estilos de Home Page-----------------------------------*/

.home {
    width: 100%;
    min-height: 100vh;
    background-color: var(--fondoMapa);
}

.titulo {
    width: 100%;
    height: 30vh;
    position: relative;
    padding: 1rem;
}
.titulo h2 {
    text-align: center;
    height: 40%;
    font-size: 2rem;
    
}
.titulo__caja {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.titulo__caja img {
    width: 40%;
    position: absolute;
    
}

.titulo__caja h3 {
    font-size: 1.5rem;
    color: white;
    
}

.mapa {
    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    
}
.mapa__paso1, .mapa__paso2, .mapa__paso3 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.mapa__paso1--title, .mapa__paso2--title,.mapa__paso3--title {
    display: flex;
    align-items: center;
    margin: 1rem;
}
.mapa__paso1--title img, .mapa__paso2--title img, .mapa__paso3--title img{
    max-width: 80px;
    margin: 4px;
}
.mapa__paso1--title h3, .mapa__paso2--title h3, .mapa__paso3--title h3{
    font-size: 2rem;
    color: white;
    margin: 4px;
}

.mapa__paso1--caja, .mapa__paso2--caja,.mapa__paso3--caja {
    width: 310px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.mapa__paso1--caja img, .mapa__paso2--caja img, .mapa__paso3--caja img{
    max-width: 300px;
    height: 200px;
    position: absolute;
    transform: scale(1.05);
    top: 0;
    bottom: 20px;
    z-index: 1;
}
.mapa__caja--cont {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: white;
    margin: 4px;
    position: relative;
    z-index:2
}
.mapa__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapa__arrow--img {
    max-width: 180px;
}




.mapa__paso1--caja{
    background-color: var(--paso1);
}
.mapa__paso2--caja {
    background-color: var(--paso2);  
}
.mapa__paso3--caja {
    background-color: var(--paso3);
}

.btnInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.btnInicio button {
    width: 40%;
    height: 2rem;
    border: none;
    font-size: 1rem;
    color: var(--fondoMapa);
    font-weight: 900;
    border-radius: 30px;
}
.btnInicio button:hover {
    background-color: var(--fondoMapa);
    color: white;
    border: 2px solid white;
}


/* --------------------------------Estilos Formulario---------------------------------------------------- */
.formulario p {
    color: red;
}


.contacto__formulario {
    padding: 10px;
}

.contacto__titulo {
    text-align: center;
    color: white;
    background-color: #f6f5dd;
    margin: 15px;
    color: #a7a7a7;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

form input, form textarea, form select {
    width: 60%;
    margin: 16px auto;
    border: none;
    background-color: #f6f5dd;
    border-bottom: 1.5px solid #43bda0;
}
form span {
    color: red;
    width: 60%;
    border: none;
    margin: auto;
    margin-bottom: 16px;
}

form textarea {
    height: 100px;
}
.noValida {
    box-shadow: rgba(255, 0, 0, 0.5) 0px 3px 8px;
}
.valida {
    box-shadow: rgba(#43bda0, 0.5) 0px 3px 8px;
}
.contacto__formulario--btn {
    width: 100px;
    color: white;
    background-color: #ec8ea2;
    border-radius: 15px;
    border: none;
    -webkit-box-shadow: 1px 1px #a7a7a7;
    box-shadow: 1px 1px #a7a7a7;
    margin: auto;
}

.contacto__formulario--btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.spanFormOff{
    display:none
}
.spanFormActive {
    display: block;
}


/*------------------------------- Estilos Formulario Enviado----------------------------------------------  */
.formularioEnviado {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.formularioEnviado__logo {
    width: 25%;
    margin: 1rem;
    font-weight: 700;
}
.formularioEnviado__titulo {
    font-size: 2rem;
    margin: 1rem;
    font-weight: 800;
    color: #a7a7a7;
}
.formularioEnviado__texto {
    font-size: 1.5rem;
    font-weight: 600;
    color: #c0c0c0;
}

.formularioEnviado__btnInicio {
    width: 10%;
    border-radius: 10px;
    font-size: 1rem;
    margin: 1rem;
    border: none;
    background-color: var(--fondoMapa);
    font-weight: 600;
    color: white;
    padding: 4px;
    cursor: pointer;
}
.formularioEnviado__btnInicio:hover {
    background-color: white;
    color: var(--fondoMapa);
    
}

/* ----------------------------------------------Media Querys--------------------------------------------------- */

@media screen and (max-width:769px) {
    
   
    .titulo {
        transform: scale(0.7);
    }
    .titulo__caja img{
        width: 370px;
    }
    .mapa__paso1--caja, .mapa__paso2--caja, .mapa__paso3--caja {
        transform: scale(0.7);
    }
   
    .mapa__paso1--title, .mapa__paso2--title, .mapa__paso3--title {
        transform: scale(0.7);
    }
    
    .mapa {
        align-items: center;
        flex-direction: column;
    }
    
    .mapa__arrow {
        height: 180px;
        transform: scale(0.9);
        
        
    }
    .mapa__arrow--img {
        max-width: 180px;
        transform: rotate(90deg);
       

    }
   
   
}
    
@media screen and (max-width:426px) {
    body {
        font-size: 10px;
    }
   
    .titulo {
        transform: scale(0.5);
    }
    .titulo__caja img{
        width: 400px;
    }
    .mapa__paso1--caja, .mapa__paso2--caja, .mapa__paso3--caja {
        transform: scale(0.5);
    }
   
    .mapa__paso1--title, .mapa__paso2--title, .mapa__paso3--title {
        transform: scale(0.5);
    }
    
    .mapa {
        align-items: center;
        flex-direction: column;
    }
    
    .mapa__arrow {
        height: 180px;
        transform: scale(0.7);
        
        
    }
    .mapa__arrow--img {
        max-width: 180px;
        transform: rotate(90deg);
       

    }
    form input, form textarea, form select {
        margin: 10px 0;
        width: 100%;
      }
   
}