body {
    text-align: center;
    padding: 30px;
    background: #f8f4f2;
    font-family: Arial;
  }
section {
    display: flex;
    flex-wrap: wrap;
}
  
  .a-box {
    display: inline-block;
    max-width: 240px;
    text-align: center;
    margin: 20px;
  }
  
  .img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, 0deg);
      height: 250px;
      margin: 0px 0px 0px 0px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 0deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }
  input.btn-seleccion {

    width: 100px;
    height: 30px;
    color: white;
    background-color: hsl(347, 71%, 74%);
    border-radius: 15px;
    border: none;
    margin: auto;
}
input.btnCancel {
    border-style: none;
    background-color: #e4234d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 900;
    color: white;
}
