:root {
    --paso1: #55cbcd;
    --paso2: #aa98f2;
    --paso3: #cf91d0;
    --rosaLogo: #f3b0c3;
    --fondoMapa: #f9b7c4;
    --amarillo: #f6f5dd;
}
*{
    margin: 0;
    padding: 0;
}


main {
   
    font-family: 'Quicksand', sans-serif;
    background-color: var(--amarillo);
 
}

.home {
    width: 100%;
    min-height: 100vh;
    background-color: var(--fondoMapa);
}

.titulo {
    width: 100%;
    height: 30vh;
    position: relative;
    padding: 1rem;
}
.titulo h2 {
    text-align: center;
    height: 40%;
    font-size: 2rem;
    
}
.titulo__caja {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.titulo__caja img {
    width: 40%;
    position: absolute;
    
}

.titulo__caja h3 {
    font-size: 1.5rem;
    color: white;
    
}

.mapa {
    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    
}
.mapa__paso1, .mapa__paso2, .mapa__paso3 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.mapa__paso1--title, .mapa__paso2--title,.mapa__paso3--title {
    display: flex;
    align-items: center;
    margin: 1rem;
}
.mapa__paso1--title img, .mapa__paso2--title img, .mapa__paso3--title img{
    max-width: 80px;
    margin: 4px;
}
.mapa__paso1--title h3, .mapa__paso2--title h3, .mapa__paso3--title h3{
    font-size: 2rem;
    color: white;
    margin: 4px;
}

.mapa__paso1--caja, .mapa__paso2--caja,.mapa__paso3--caja {
    width: 310px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.mapa__paso1--caja img, .mapa__paso2--caja img, .mapa__paso3--caja img{
    max-width: 300px;
    height: 200px;
    position: absolute;
    transform: scale(1.05);
    top: 0;
    bottom: 20px;
    z-index: 1;
}
.mapa__caja--cont {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: white;
    margin: 4px;
    position: relative;
    z-index:2
}
.mapa__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapa__arrow--img {
    max-width: 180px;
}




.mapa__paso1--caja{
    background-color: var(--paso1);
}
.mapa__paso2--caja {
    background-color: var(--paso2);  
}
.mapa__paso3--caja {
    background-color: var(--paso3);
}

.btnInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.btnInicio button {
    width: 40%;
    height: 2rem;
    border: none;
    font-size: 1rem;
    color: var(--fondoMapa);
    font-weight: 900;
    border-radius: 30px;
}
.btnInicio button:hover {
    background-color: var(--fondoMapa);
    color: white;
    border: 2px solid white;
}

@media screen and (max-width:769px) {
    
   
    .titulo {
        transform: scale(0.7);
    }
    .titulo__caja img{
        width: 370px;
    }
    .mapa__paso1--caja, .mapa__paso2--caja, .mapa__paso3--caja {
        transform: scale(0.7);
    }
   
    .mapa__paso1--title, .mapa__paso2--title, .mapa__paso3--title {
        transform: scale(0.7);
    }
    
    .mapa {
        align-items: center;
        flex-direction: column;
    }
    
    .mapa__arrow {
        height: 180px;
        transform: scale(0.9);
        
        
    }
    .mapa__arrow--img {
        max-width: 180px;
        transform: rotate(90deg);
       

    }
   
   
}
    
@media screen and (max-width:426px) {
    
   
    .titulo {
        transform: scale(0.5);
    }
    .titulo__caja img{
        width: 400px;
    }
    .mapa__paso1--caja, .mapa__paso2--caja, .mapa__paso3--caja {
        transform: scale(0.5);
    }
   
    .mapa__paso1--title, .mapa__paso2--title, .mapa__paso3--title {
        transform: scale(0.5);
    }
    
    .mapa {
        align-items: center;
        flex-direction: column;
    }
    
    .mapa__arrow {
        height: 180px;
        transform: scale(0.7);
        
        
    }
    .mapa__arrow--img {
        max-width: 180px;
        transform: rotate(90deg);
       

    }
   
}
    





